@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --very-dark-desaturated-blue: hsl(238, 29%, 16%);
    --soft-red: hsl(14, 88%, 65%);
    --soft-violet: hsl(273, 75%, 66%);
    --soft-blue: hsl(240, 73%, 65%);
    --very-dark-grayish-blue: hsl(237, 12%, 33%);
    --dark-grayish-blue: hsl(240, 6%, 50%);
    --light-grayish-blue: hsl(240, 5%, 91%);
    font-size: 12px;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    color: var(--very-dark-desaturated-blue);
}

h1 {
    text-align: center;
    font-size: 2.8rem;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(var(--soft-violet), var(--soft-blue));
}

.card {
    background-color: white;
    border: none;
    border-radius: 20px;
    width: 87%;
    position: relative;
}

.faq {
    padding: 2em;
}

.images {
    background-image: url(images/bg-pattern-mobile.svg);
    background-position: top -10px center;
    background-repeat: no-repeat;
    height: 103px;
}

.accordion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    border-bottom: 1px solid var(--light-grayish-blue);
    color: var(--very-dark-grayish-blue);
    /* margin: 1em 0; */
    padding: 1.05em 0 1.09em 0;
    margin: 0.25em;
    font-size: 1.08rem;
    cursor: pointer;
}

.panel {
    display: none;
    color: var(--very-dark-grayish-blue);
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    padding-right: 2.5em;
}

.active {
    color: var(--very-dark-desaturated-blue);
    font-weight: 700;
    border-bottom: none;
    /* padding-bottom: 0;
    margin-bottom: 0; */
}

p {
    padding-top: 0;
    padding-bottom: 1em;
    margin-top: 0;
    margin-bottom: 0;
}

.panel p {
    color: var(--dark-grayish-blue);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 1024px) {
    .card {
        height: 76vh;
        width: 67.4%;
        display: flex;
    }

    .images, .faq {
        width: 50%;
    }

    .faq {
        padding: 5.7em 6em 6em 0em;
    }

    h1 {
        font-size: 2.5rem;
        text-align: left;
        margin-top: 0;
        margin-bottom: 0.9em;
    }

    .images {
        background-image: url(images/illustration-woman-online-desktop.svg), url(images/bg-pattern-desktop.svg);
        background-position: top 50px left -70px, top -295px left -470px;
        background-size: 100% 75%, 186% 186%;
    }

    .accordion {
        padding: 1.2em 0;
    }
}